$twitter: #55acee;
$hoverTwi: #3d90cf;
$facebook: #3765a3;
$hoverFac: #23528f;
$pinterest: #c92228;
$hoverPin: #aa1217;
$dribble: #e04c86;
$hoverDri: #c02c67;
$banner: #3bc984;
$bannerBtn: #19975a;
$bannerBtnHover: #088347;
$btnSend:#55acee;
$btnSendHover:#3765a3;

$footer: #2a2a2a;